= simple_form_for @shortened_link, html: { class: 'form-horizontal' } do |form|
  = form.error_notification

  .form-inputs
    = form.input :website_url, label: "Website URL"

  .form-actions
    = form.button :submit, :class => "btn btn-success"
    = link_to 'Back', shortened_links_path, :class => "btn btn-danger"
